@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgb(207, 207, 207);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
}

.circle {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ef4444;
}